
nav{
    margin-top:33px;
    display:grid;
    grid-template-columns:85% 15% ;
    grid-auto-flow: column;  
    height:50px;
}

.active{
    text-decoration: underline;
}

.navbarUl{
    width: 50vw;
    display:grid;
    /*grid-template-columns: 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857% 14.2857%;  */
    grid-auto-flow: column; 
    padding-inline-start: 0;
}

.navbarLi{
    list-style-type: none;
    text-align: center;
    padding:10px 0px;
}

.contactUsButtonContainer{
    display:grid;
    justify-items: end;
    align-items:center;
    width:100%;
}

.logo{
    font-weight: 900;
    margin-left: 2.5rem;
}