
nav{
    margin-top:33px;
    display:grid;
    grid-template-columns:85% 15% ;
    grid-auto-flow: column;  
    height:50px;
}

.navbarUl{
    width: 50vw;
    display:grid;
    grid-auto-flow: column; 
    padding-inline-start: 0;
}

.navbarLi{
    list-style-type: none;
    text-align: center;
    padding:10px 0px;
    color:var(--navInactiveFont);
}

.active{
    text-decoration: underline;
    color:var(--navActiveFont);
}

.contactUsButtonContainer{
    display:grid;
    justify-items: end;
    align-items:center;
    width:100%;
}

.logo{
    font-weight: 900;
    margin-left: 2.5rem;
}


@media only screen and (max-width: 780px){
    .navbarUl{
        width: 100%;
    }
}
