.SelectableSquares_title{
    font-weight: bold;
    font-size: 2rem;
}

.SelectableSquaresContainer{
    margin-top:3rem;
}

.SelectableSquares_upperText{
    margin-top:2rem;
}

.SelectableSquares_lowerText{
    margin-top:2rem;
}

.squaresContainer{
    margin-top: 1rem;
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.square{
    position:relative;
    display:flex;
    -webkit-box-shadow: 0 0 5px 0.5px var(--squareShadowBackground);;
    -moz-box-shadow: 0 0 5px 0.5px var(--squareShadowBackground);;
    box-shadow: 0 0 5px 0.5px var(--squareShadowBackground);;
    height:6rem;
    width:15vw;
    height:20vh;

    justify-content: center;
    align-items: center;
    border-radius: 3px;
}

.squareIcon{
    height:2.5rem;
    filter: brightness(0) saturate(100%) var(--squareIconFilter);

}

.squareViewDetails{
    position:absolute;
    right: 1rem;
    bottom: 1rem;
}

.square_link{
    text-decoration: underline;
    color: var(--squareDetailsFontColor)
}

.square:hover{
    background-color: var(--squareHoverBackground);
    
}

.square:hover .squareIcon{
    filter: brightness(0) saturate(100%) var(--squareIconFilterHover);
}

.square:hover .squareArrow{
    filter: brightness(0) saturate(100%) var(--squareIconFilterHover);
}

@media only screen and (max-width: 780px){
    .squaresContainer{
        margin-top: 1rem;
        display:grid;
        grid-template-columns: 50% 50% ;
    }
    .square{
        margin: 1rem;
        width:150px;
        height:150px;
    }
    .square_link{
        text-decoration: underline;
        color: var(--squareDetailsFontColor);
        font-size: 0.5rem;
    }
}
